@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 100% 0);
  }
  to {
    clip-path: circle(150% at 100% 0);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --text-h1: 4rem; /* 64px */
  --text-h2: 3.5rem; /* 60px */
  --text-h3: 3rem; /* 48px */
  --text-h4: 2.25rem; /* 36px */
  --text-h5: 1.5rem; /* 24px */
  --text-para-big: 1.125rem; /* 18px */
  --text-para: 1rem;
  --text-small: 0.875rem; /* 14px */
  --text-extra-small: 0.75rem; /* 12px */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide scrollbars while preserving scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
