@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --spacing-2xs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 8rem;

  --text-h1: 4rem; /* 64px */
  --text-h2: 3.5rem; /* 60px */
  --text-h3: 3rem; /* 48px */
  --text-h4: 2.25rem; /* 36px */
  --text-h5: 1.5rem; /* 24px */
  --text-para-big: 1.125rem; /* 18px */
  --text-para: 1rem;
  --text-small: 0.875rem; /* 14px */
  --text-extra-small: 0.75rem; /* 12px */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide scrollbars while preserving scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
